<form method="post">
 Heading: <input type="text" name="short" value="<%= @idea[:short] %>"><br>
 Information: <input type="text" name="long_info" value="<%= @idea[:long_info] %>">
 <input type="submit" value="Submit">
</form>
<a href="/">Home</a>